@model ProductCatalog.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete</h1>

<h3 class="text text-danger">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row" style="background-color:black; text-align:justify; font-weight:bold; font-size:large;color:white">
        <dt class="col-sm-3">
            <label asp-for="productName"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.productName</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="price"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.price</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="creationDate"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.creationDate</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="createdBy"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.createdBy</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="startDate"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.startDate</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="duration"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.duration</p>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>
