@model ProductCatalog.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row" style="background-color:black; text-align:justify; font-weight:bold; font-size:large;color:white">
        <dt class="col-sm-4">
            <label asp-for="productName"></label>
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class="col-sm-4">
            <label asp-for="price"></label>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="creationDate"></label>
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.creationDate)
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="createdBy"></label>
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="startDate"></label>
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-4">
            <label asp-for="duration"></label>
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductID" class="btn btn-outline-warning">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
